<!DOCTYPE html>
<html>

<head>
    <title>정보 변경</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
</head>

<body class="is-preload">
    <section>
        <div id="wrapper">
            <form method="post">
                <ul>
                    <li>
                        <label>취미 변경</label>
                        <input type="radio" id="h1" name="hobby" value="sports"><label for="h1">스포츠</label><br>
                        <input type="radio" id="h2" name="hobby" value="music"><label for="h2">음악</label><br>
                        <input type="radio" id="h3" name="hobby" value="movie"><label for="h3">영화</label><br>
                    </li>
                </ul>
                <input type="submit" value="변경"> <br><br>
            </form>
        </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>