<!DOCTYPE HTML>

<html>

<head>
    <title>추천 서비스</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="images/logo.svg" alt="" /></span>
            <h1>관심사 추천 서비스</h1>
            <p>Welcome</p>
        </header>

        <!-- Main -->
        <div id="main">
            <!-- Get Started -->
            <section id="cta" class="main special">
                <header class="major">
                    <h2>로그인</h2>
                    <p>환영합니다</p>
                </header>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="/register" class="button primary">회원 가입</a></li>
                        <li><a href="/login" class="button">로그인</a></li>
                    </ul>
                </footer>
            </section>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>