<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
        maximum-scale=1.0, minimum-scale=1.0" charset="utf-8">
    <title>게시글</title>
</head>

<body>
    <h2>게시글 리스트</h2>
    <table border='1'>
        <colgroup>
            <col width='60'>
            <col width='200'>
            <col width='100'>
        </colgroup>
        <thead>
            <tr>
                <th>글번호</th>
                <th>글제목</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0; i < list.length; i++) { %>
                <tr>
                    <td>
                        <%=i+1 %>
                    </td>
                    <td>
                        <%=list[i].userName %>
                    </td>
                    <td>
                        <%=list[i].interest %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table boader='1'>

    <button onclick="location.href='../write'">글쓰기</button>
</body>

</html>