<!DOCTYPE html>
<html>

<head>
    <link href="images/logo2.png" rel="shortcut icon" type="image/x-icon">
    <title>회원 가입</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
    <% if(pass == false) { %>
        <script>
            alert('이미 존재하는 아이디입니다.');
        </script>
        <% } %>
</head>

<body class="is-preload">
    <section>
        <div id="wrapper">
            <form method="post">
                <ul>
                    <li>
                        <label>아이디</label>
                        <input type="text" name='id' maxlength='15' placeholder='최대 15자' required>
                    </li>
                    <li>
                        <label>비밀번호</label>
                        <input type="password" name="pw" maxlength='20' placeholder='최대 20자' required>
                    </li>
                    <li>
                        <label>취미</label>
                        <input type="radio" id="h1" name="hobby" value="sports" checked><label for="h1">운동</label><br>
                        <input type="radio" id="h2" name="hobby" value="cook"><label for="h2">요리</label><br>
                        <input type="radio" id="h3" name="hobby" value="game"><label for="h3">게임</label><br>
                        <input type="radio" id="h4" name="hobby" value="travel"><label for="h4">여행</label><br>
                    </li>
                </ul>
                <input type="submit" value="회원가입"> <br><br>
                <a href="/login" class="button">로그인</a>
            </form>
        </div>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>