<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
        maximum-scale=1.0, minimum-scale=1.0" charset="utf-8">
    <title>글쓰기</title>
</head>

<body>
    <h2>게시글 작성</h2>
    <form action='/writeAf' method='post'>
        id : <input type='text' name='id'><br> 이름 : <input type='text' name='userName'><br> 취미 : <textarea name='interest'></textarea><br>
        <button type='submit'>글쓰기</button>
        <button type="button" onclick="location" href='/list'>리스트</button>
    </form>
</body>

</html>